@import 'tailwindcss';

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: light --default,
    dark --prefersdark,
    cupcake;
}

#main-container {
    @apply mx-auto;
}

#header {
    @apply sticky top-0;
}

#header-menu {
    @apply navbar bg-base-100 shadow-sm;
}

#website-logo-container {
    @apply navbar-center;
}

#navbar-logo {
    @apply btn btn-ghost text-xl;
}

#navbar-user-icon {
    @apply navbar-end dropdown dropdown-end;
}

.page-container {
    @apply px-8 md:px-16;
}

.event-item {
    @apply card;
}

.fieldset-legend {
    font-size: 20px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}