@import 'tailwindcss';

#main-container {
    @apply mx-auto;
}

#header {
    @apply sticky top-0;
}

#header-menu {
    @apply navbar bg-base-100 shadow-sm;
}

#website-logo-container {
    @apply navbar-center;
}

#navbar-logo {
    @apply btn btn-ghost text-xl;
}

#navbar-user-icon {
    @apply navbar-end dropdown dropdown-end;
}

.page-container {
    @apply px-8 md:px-16;
}

.event-item {
    @apply card;
}

.fieldset-legend {
    font-size: 20px;
}