@import 'tailwindcss';

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    cupcake --default,
    sunset;
}

@plugin "daisyui/theme" {
  name: cupcake_dark;
  default: false;
  prefersdark: true;
  color-scheme: dark;
  --color-base-100: oklch(27% 0.041 260.031);
  --color-base-200: oklch(23% 0.042 265.755);
  --color-base-300: oklch(13% 0.028 261.692);
  --color-base-content: oklch(98% 0.003 247.858);
  --color-primary: oklch(85% 0.138 181.071);
  --color-primary-content: oklch(43% 0.078 188.216);
  --color-secondary: oklch(89% 0.061 343.231);
  --color-secondary-content: oklch(45% 0.187 3.815);
  --color-accent: oklch(90% 0.076 70.697);
  --color-accent-content: oklch(47% 0.157 37.304);
  --color-neutral: oklch(27% 0.006 286.033);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}

#main-container {
  @apply mx-auto;
}

#header {
  @apply sticky top-0 z-50;
  padding-top: env(safe-area-inset-top); /* safe area code for mobile devices */
}

/* start safe area code for mobile devices */
.safe-area-top,
.safe-area-bottom {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 50;
  pointer-events: none;
}

.safe-area-top {
  top: 0;
  height: env(safe-area-inset-top);
  @apply bg-base-100;
  /* match background color */
}

.safe-area-bottom {
  bottom: 0;
  height: env(safe-area-inset-bottom);
  @apply bg-base-100;
  /* match background color */
}

/* end safe area code for mobile devices */

#header-menu {
  @apply navbar bg-base-100 shadow-sm;
}

#website-logo-container {
  @apply navbar-center;
}

#navbar-logo {
  @apply btn btn-ghost text-xl;
}

#navbar-user-icon {
  @apply navbar-end dropdown dropdown-end;
}

.action-menu-side-component {
  @apply hidden xl:block;
}

.action-menu-header-component {
  @apply ml-auto block xl:hidden;
}

.action-menu {
  @apply menu menu-xl w-80 bg-base-200 menu-vertical rounded-box;
}

.page-container {
  @apply px-4 2xl:px-16;
}

.event-item {
  @apply card;
}

.fieldset-legend {
  font-size: 20px;
}

.error-message {
  color: #ef4444;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  font-weight: 500;
}

.error-message.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.success-message {
  color: #10b981;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  font-weight: 500;
}

.success-message.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.input-error {
  border-color: #ef4444 !important;
}
.shake {
  animation: shake 0.5s ease-in-out;
}
.input-success {
  border-color: #10b981 !important;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}
.input-field {
  width: 100%;
  padding: 7px 16px;
  padding-right: 45px;
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(209, 213, 219, 1);
  border-radius: 6px;
  font-size: 0.875rem;
  color: #374151;
  outline: none;
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);
}

.input-field::placeholder {
  color: #9ca3af;
}

.input-field:focus {
  border-color: rgba(79, 70, 229, 1);

  background: rgba(255, 255, 255, 0.95);
  transform: translateY(-2px);
}

.input-field:hover {
  border-color: rgba(79, 70, 229, 1);
  transform: translateY(-1px);
}
