<template class="event-card-template">
    <div class="card max-w-[35rem] bg-base-100 shadow-sm mb-5">
        <div class="card-body">
            <div class="event-datetime flex justify-between">
                <h2 class="event-date text-3xl">April 20th, 2025</h2>
                <span class="event-time badge badge-soft badge-xl badge-success"
                >4:00pm</span
                >
            </div>
            <div class="title-container flex">
                <h2 class="title text-2xl font-bold">
                    an obnoxiously long title because people suck and try to make my life
                    hard
                </h2>
            </div>
            <div class="event-description text-sm mb-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat
            </div>
            <div class="participants flex justify-between">
        <span class="host-user btn btn-md btn-outline btn-info"
        >Host: Francesca</span
        >

                <div class="attendance join">
                    <button class="yes-button btn btn-md btn-outline btn-success join-item">
                        Yes: 12
                    </button>
                    <button
                            class="maybe-button btn btn-md btn-outline btn-warning join-item"
                    >
                        Maybe: 22
                    </button>
                    <button class="no-button btn btn-md btn-outline btn-error join-item">
                        No: 2
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>